body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  width: 1200px;
  margin: auto;

  background-color: #fff;
}

.main-header-logo {
  position: absolute;
  right: 0; left: 0; margin: auto;
  width: 140px;
  height: 72px;
  z-index: 1;
}

.main-navigation {
  line-height: 26px;
  font-weight: 700;
  color: #000000;

  background-color: #ffffff;

  position: relative;
}

.site-navigation {
  margin: 0;
  padding: 0;

  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 15px 73px;
}

.site-navigation li {
  width: 240px;
}

.site-navigation li:first-child,
.site-navigation li:nth-child(2) {
  text-align: left;
}

.site-navigation li:nth-child(2) {
  margin-right: 94px;
}

.site-navigation li:last-child,
.site-navigation li:nth-child(3) {
  text-align: right;
}

.site-navigation a {
  color: #000000;
  vertical-align: middle;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: #000000;
  opacity: 0.3;
}

.site-navigation-current a {
  line-height: 26px;
  color: #766357;
}

.intro {
  position: relative;
  height: 508px;

  background-image: url("../img/intro-background.jpg");
  background-size: 1200px 800px;
  background-position: center -82px;
  background-repeat: no-repeat;
}

.intro img {
  display:block;

  position: absolute;
  top: 76px;
  right: 371px;
}

.intro::after {
  content: "";

  position: absolute;
  bottom: -3px;

  width: 1200px;
  height: 60px;

  background-image: url("../img/intro-mask.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.announce {
  line-height: 26px;
  text-align: center;

  background-color: #ffffff;

  padding: 53px 350px;
}

.announce b {
  font-size: 21px;
  font-weight: 700;
  color: #000000;
  width: 576px;
}

.advantages-list,
.details-list {
  margin: 0;
  padding: 0;

  list-style: none;
  text-align: center;
}

.advantages-list {
  display: flex;

  flex-wrap: wrap;
}

.advantages-list li:first-child {
  order: -2;
}

.advantages-item-details {
  order: -1;
}

.advantages-list h3,
.advantages-list h4 {
  font-size: 21px;
  font-weight: 700;
}

.advantages-item h3,
.advantages-item-details h4 {
  color: #000000;
}

.advantages-item-pic {
  display: flex;
  color: #ffffff;
}

.advantages-item-pic:nth-child(2) {
  flex-direction: row-reverse;
}

.index-line-pic {
  background-color: #81b3d2;
  width: 400px;
  height: 196px;

  padding: 30px 50px;
}

.line {
  background-color: #eee;
}

.advantages-item {
  box-sizing: border-box;
  width: 400px;
  height: 256px;

  padding: 30px 72px;
}

.advantages-item:nth-child(4) {
  box-sizing: border-box;
  width: 400px;
  height: 256px;

  padding: 30px 68px;
}

.index-line-pic h3,
.advantages-item h3 {
  padding: 0 60px;
}

.details-list {
  display: flex;
}

.details-list-item {
  box-sizing: border-box;
  width: 400px;
  height: 330px;

  padding: 30px 70px;
}

.interested {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-align: center;
}

.visit-sedona p {
  line-height: 24px;
  text-align: center;
}

.button {
  font: inherit;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  border: none;
}

.button-find-hotel {

  background-color: #766357;

  width: 570px;
  height: 86px;
}

.button-find-hotel:hover,
.button-find-hotel:focus {
  background-color: #604e43;
}

.button-find-hotel:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.visit-sedona {
  background-color: #fff;
  height: 291px;
}

.form-container {
  position: relative;
  width: 570px;
  height: 378px;
  margin: 0 auto;
  top: 117px;
}

.searching-form {
  position: absolute;

  width: 570px;
  min-height: 395px;

  background-color: #fff;

  z-index: 1;
}

.searching-item,
.searching-item input {
  font: inherit;

  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.searching-item input {
  background-color: #f2f2f2;
  border: none;
}

.searching-item input:hover {
  background-color: #ebebeb;
  border: none;
}

.searching-item input:focus {
  outline: none;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.button-search {
  background-color: #81b3d2;
}

.button-search:hover,
.button-search:focus {
  background-color: #669ec0;
}

.button-search:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.index-map {
  position: relative;

  height: 473px;
}

.index-map img {
  position: absolute;

  width: 1200px;
  height: 594px;
}

.filters {
  background-image: url("../img/filter-background.jpg");
  background-size: 1200px 800px;
  background-position: center -294px;
  background-repeat: no-repeat;
  /*height: 217px;*/
}

.filter {
  display: flex;

  color: #ffffff;
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-size: 16px;
  font-weight: 700;
}

.filter ul {
  list-style: none;
}

.filter-input {
  font: inherit;

  color: #ffffff;
  background: transparent;
  text-align: center;
  border: 2px solid white;
}

.filter-range-title {
  margin-bottom: 9px;
}

.price-controls {
  position: relative;
  height: 36px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.button-show {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.button-show:hover {
  color: #000000;

  background: #ffffff;
}

.sorting-navigation {
  display: flex;

  height: 86px;
  border-bottom: 1px solid #e5e5e5;
}

.searching-result {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.sorting {
  font-size: 12px;
  line-height: 18px;
  color: #000000;
}

.sorting-list {
  font-size: 12px;
  line-height: 18px;
  list-style: none;
}

.sorting-list a {
  color: #000000;
  opacity: 0.3;
}

.sorting-list a:hover,
.sorting-list a:focus {
  color: #81b3d2;
}

.sorting-list a:active {
  color: #000000;
}

.sorting-list-current a {
  color: #81b3d2;
}

.hotels-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.hotels-item {
  display: flex;

  height: 150px;
  border-bottom: 1px solid #e5e5e5;
}

.hotel-name a {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.hotel-name a:hover,
.hotel-name a:focus {
  color: #81b3d2;
}

.hotel-name a:active {
  color: #000000;
  opacity: 0.3;
}

.button-info {
  font-size: 14px;
  line-height: 21px;
  background-color: #81b3d2;
}

.button-info:hover,
.button-info:focus {
  color: #669ec0;
}

.button-info:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.button-book {
  font-size: 14px;
  line-height: 21px;
  background-color: #766357;
}

.button-book:hover,
.button-book:focus {
  background-color: #604e43;
}

.button-book:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.rate {
  color: #666666;
  background-color: #f2f2f2;
}

.main-footer {
  background-color: #ffffff;
  opacity: 0.9;
  display:flex;
  justify-content: center;
  align-items: center;

  min-height: 120px;
}

.hashtag {
  text-align: center;
  width: 400px;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.footer-social {
  width: 400px;
}

.footer-social ul {
  display: flex;
  list-style: none;
  justify-content: center;
}

.social-button {
  color: #ffffff;
}

.footer-copyright {
  margin: 0;
  display:flex;
  justify-content: center;
  width: 400px;

  line-height: 26px;
  color: #000000;
}

.footer-copyright p {
  margin-right: 8px;
}
