body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  width: 1200px;
  margin: auto;

  background-color: #fff;
}

.main-header-logo {
  position: absolute;
  right: 0; left: 0; margin: auto;
  width: 140px;
  height: 72px;
  z-index: 1;
}

.main-navigation {
  line-height: 26px;
  font-weight: 700;
  color: #000000;

  background-color: #ffffff;

  position: relative;
}

.site-navigation {
  margin: 0;
  padding: 0;

  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 13px 73px 15px;
}

.site-navigation li {
  width: 240px;
}

.site-navigation li:first-child,
.site-navigation li:nth-child(2) {
  text-align: left;
}

.site-navigation li:nth-child(2) {
  margin-right: 94px;
}

.site-navigation li:last-child,
.site-navigation li:nth-child(3) {
  text-align: right;
}

.site-navigation a {
  color: #000000;
  vertical-align: middle;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: #000000;
  opacity: 0.3;
}

.site-navigation-current a {
  line-height: 26px;
  color: #766357;
}

.intro {
  position: relative;
  height: 508px;

  background-image: url("../img/intro-background.jpg");
  background-size: 1200px 800px;
  background-position: center -82px;
  background-repeat: no-repeat;
}

.intro img {
  display:block;

  position: absolute;
  top: 76px;
  right: 371px;
}

.intro::after {
  content: "";

  position: absolute;
  bottom: -3px;

  width: 1200px;
  height: 60px;

  background-image: url("../img/intro-mask.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.announce {
  line-height: 26px;
  text-align: center;

  background-color: #ffffff;

  padding: 60px 350px 36px;
}

.announce b {
  font-size: 21px;
  font-weight: 700;
  color: #000000;
  width: 576px;
}

.announce p {
  margin-top: 24px;
}

.advantages-list,
.details-list {
  margin: 0;
  padding: 0;

  list-style: none;
  text-align: center;
}

.advantages-list {
  display: flex;

  flex-wrap: wrap;
}

.advantages-list li:first-child {
  order: -2;
}

.advantages-item-details {
  order: -1;
}

.advantages-list h3,
.advantages-list h4 {
  font-size: 21px;
  font-weight: 700;
}

.advantages-item h3,
.advantages-item-details h4 {
  color: #000000;
}

.advantages-item-pic {
  display: flex;
  color: #ffffff;
}

.advantages-item-pic:nth-child(2) {
  flex-direction: row-reverse;
}

.index-line-pic {
  background-color: #81b3d2;
  width: 400px;
  height: 196px;

  padding: 26px 50px 34px;
}

.index-line-pic h3,
.advantages-item h3 {
  margin-bottom: 24px;
}

.index-line-pic .advantages-item-number,
.advantages-item .advantages-item-number {
  margin-bottom: 21px;
}

.line {
  background-color: #eee;
}

.advantages-item {
  box-sizing: border-box;
  width: 400px;

  padding: 26px 72px 44px;
}

.advantages-item:nth-child(4) {
  padding: 26px 68px 34px;
}

.index-line-pic h3,
.advantages-item h3 {
  padding: 0 60px;
}

.details-list {
  display: flex;
}

.details-list-item {
  position: relative;

  box-sizing: border-box;
  width: 400px;

  padding: 133px 60px 68px;
}

.details-list-item h4 {
  margin-bottom: 24px;
}

.homes::before {
  content: "";

  position: absolute;
  top: 61px;
  right: 163px;

  width: 75px;
  height: 72px;

  background-image: url("../img/details-homes.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.food::before {
  content: "";

  position: absolute;
  top: 61px;
  right: 163px;

  width: 74px;
  height: 70px;

  background-image: url("../img/details-food.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.souvenirs::before {
  content: "";

  position: absolute;
  top: 55px;
  right: 169px;

  width: 64px;
  height: 76px;

  background-image: url("../img/details-souvenirs.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.visit-sedona {
  background-color: #fff;
  text-align: center;
  padding-top: 51px;
  height: 241px;
}

.interested {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.visit-sedona > p {
  line-height: 24px;
  margin-top: 24px;
  margin-bottom: 46px;
}

.button {
  font: inherit;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  border: none;
}

.button-find-hotel {

  background-color: #766357;

  width: 570px;
  height: 86px;
}

.button-find-hotel:hover,
.button-find-hotel:focus {
  background-color: #604e43;
}

.button-find-hotel:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.form-container {
  position: relative;
  width: 570px;
  height: 481px;
  margin: 0 auto;
}

.searching-form {
  display: flex;
  flex-wrap: wrap;

  position: absolute;

  padding: 55px;

  background-color: #fff;

  z-index: 1;
}

.searching-item,
.searching-item input {
  position: relative;
  margin: 0;

  font: inherit;

  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.searching-item input {
  background-color: #f2f2f2;
  border: none;
  margin-bottom: 30px;
}

.check-in input,
.check-out input {
  width: 346px;
  box-sizing: border-box;
  padding: 6px 0 6px 12px;
}

.check-in label {
  margin-right: 22px;
}

.check-out label {
  margin-right: 18px;
}

.calendar-button {
  position: absolute;

  top: 8px;
  right: 9px;

  width: 21px;
  height: 22px;

  margin: 0;
  padding: 0;

  border: none;
  background-color: transparent;
}

.calendar-button svg {
  color: #cccccc;
}

.calendar-button svg:hover,
.calendar-button svg:focus {
  color: #000000;
}

.calendar-button svg:active {
  color: #81b3d2;
}

.calendar-button:active,
.calendar-button:focus {
  outline: none;
}

.adults input,
.kids input {
  width: 114px;
  box-sizing: border-box;
  text-align: center;
  padding: 6px 0 6px;
}

.adults label {
  margin-right: 41px;
}

.adults input {
  margin-right: 53px;
}

.kids label {
  margin-right: 27px;
}

.increase-button,
.decrease-button {
  position: absolute;
  top: 0;

  width: 38px;
  height: 38px;

  background-color: /*#f2f2f2;*/ red;
  border: none;

  color: #a9a9a9;
  font-size: 52px;
  /*border: none;
  background-color: transparent;*/
}

.adults .increase-button {
  right: -30px;
}

.searching-item input:hover {
  background-color: #ebebeb;
  border: none;
}

.searching-item input:focus {
  outline: none;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  padding: 4px 0 4px 10px;
}

.adults input:focus,
.kids input:focus {
  text-align: center;
  padding: 4px 0 4px;
}

.button-search {
  background-color: #81b3d2;
  padding: 16px 196px;
  margin-top: 25px;
}

.button-search:hover,
.button-search:focus {
  background-color: #669ec0;
}

.button-search:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.index-map {
  position: relative;

  height: 473px;
}

.index-map img {
  position: absolute;

  width: 1200px;
  height: 594px;
}

.filters {
  background-image: url("../img/filter-background.jpg");
  background-size: 1200px 800px;
  background-position: center -294px;
  background-repeat: no-repeat;
}

.filter {
  display: flex;
  justify-content: space-between;

  color: #ffffff;

  padding: 26px 73px;
}

.filter fieldset {
  border: none;

  padding: 0;
  margin: 0;
}

.filter fieldset:nth-child(2) {
  margin-right: 230px;
}

.filter legend {
  font-size: 16px;
  font-weight: 700;
}

.filter ul {
  list-style: none;

  padding: 0;
  margin: 0;
}

.filter-option {
  margin-top: 26px;
  margin-bottom: 2px;
  padding-left: 40px;
}

.filter-option label {
  position: relative;

  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -40px;
  top: -3px;


  width: 23px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked + label::before {
  content: "";
  position: absolute;
  left: -40px;
  top: -3px;


  width: 27px;
  height: 23px;

  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input {
  font: inherit;

  color: #ffffff;
  background: transparent;
  text-align: center;
  border: 2px solid white;
}

.filter-range-title {
  margin-bottom: 9px;
}

.price-controls {
  position: relative;
  height: 36px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.button-show {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.button-show:hover {
  color: #000000;

  background: #ffffff;
}

.sorting-navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;

  border-bottom: 1px solid #e5e5e5;
  padding: 30px 73px 25px;
}

.searching-result {
  padding: 0;
  margin: 0;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;

  margin-right: 47px;
}

.sorting {
  margin: 0;
  padding: 0;

  font-size: 12px;
  line-height: 18px;
  color: #000000;

  margin-right: 40px;
}

.sorting-list {
  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;

  font-size: 12px;
  line-height: 18px;
  list-style: none;
}

.sorting-list li {
  position: relative;
  margin-right: 33px;
}

.sorting-list a {
  color: #000000;
  opacity: 0.3;
}

.sorting-list a:hover,
.sorting-list a:focus {
  color: #81b3d2;
}

.sorting-list a:active {
  color: #000000;
}

.sorting-list-current a {
  color: #81b3d2;
}

.sorting-list-type:after {
  position: absolute;
  top: 0;
  right: 0;
  border-bottom: 2px dashed #81b3d2;
}

.arrow {
  margin-left: 11px;
  font-size: 0;
}

.arrow::before {
    content: "";
    display: inline-block;
    border: 10px solid #cacaca;
    border-right-width: 5px;
    border-left-width: 5px;
    border-right-color: transparent;
    border-left-color: transparent;
}

.arrow-up::before {
    border-top-width: 0;
}

.arrow-down::before {
    border-bottom-width: 0;
}

.arrow::before:hover,
.arrow::before:focus {
  border: 10px solid #000000;
}

.arrow::before:active {
  border: 10px solid #81b3d2;
}

.special-sorting {
  padding: 0;
  margin: 0;

  list-style: none;

  display:flex;
  position: relative;

  margin-left: 461px;
}

/*.arrow-up::before {
  content: "";
  position: absolute;

  width: 11px;
  height: 10px;
  top: 5px;

  background-image: url("../img/icon-up-dir.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.arrow-down::before {
  content: "";
  position: absolute;

  width: 11px;
  height: 10px;
  top: 5px;

  background-image: url("../img/icon-down-dir.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}*/

.hotels-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.hotels-item {
  display: flex;
  justify-content: space-between;

  border-bottom: 1px solid #e5e5e5;
  padding: 28px 73px 29px;
}

.description {
  box-sizing: border-box;
  position: relative;
  font-size: 0;

  width: 259px;

  margin-left: 164px;
  top: -3px;
}

.description h3 {
  margin: 0;

  margin-bottom: 3px;
}

.hotels-item-type,
.hotels-item-price {
  margin: 0;
  font-size: 14px;
  margin-bottom: 17px;
}

.hotels-item-price {
    position: absolute;
    left: 116px;
    top: 33px;
}

.description img {
  position: absolute;
  left: -164px;
  top: 5px;
}

.hotel-name a {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.hotel-name a:hover,
.hotel-name a:focus {
  color: #81b3d2;
}

.hotel-name a:active {
  color: #000000;
  opacity: 0.3;
}

.button-info {
  font-size: 14px;
  line-height: 21px;
  background-color: #81b3d2;
  padding: 4px 17px 5px;
  margin-right: 6px;
}

.button-info:hover,
.button-info:focus {
  background-color: #669ec0;
}

.button-info:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.button-book {
  font-size: 14px;
  line-height: 21px;
  background-color: #766357;
  padding: 4px 17px 5px;
}

.button-book:hover,
.button-book:focus {
  background-color: #604e43;
}

.button-book:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.stars {
  padding: 0;
  margin: 0;

  display: flex;

  list-style: none;
}

.stars li {
  margin-left: 5px;
}

.rate-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.rate {
  margin: 0;

  color: #666666;
  background-color: #f2f2f2;
  padding: 3px 13px 2px 15px;
}

.main-footer {
  background-color: #ffffff;
  opacity: 0.9;
  display:flex;
  justify-content: center;
  align-items: center;

  min-height: 119px;
}

.hashtag {
  text-align: center;
  width: 400px;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.footer-social {
  width: 400px;
}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 150px;
  margin: 0 auto;
  padding: 0;

  list-style: none;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 46px;
  height: 48px;

  background-color: #81b3d2;
  color: #ffffff;
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.social-button svg:active {
  fill: #ffffff;
  opacity: 0.3;
}


.footer-copyright {
  margin: 0;
  display:flex;
  justify-content: center;
  align-items: center;

  width: 400px;

  line-height: 26px;
  color: #000000;
}

.footer-copyright p {
  margin-right: 8px;
}

.footer-copyright svg {
  margin-top: 10px;
  color: #000000;
}

.footer-copyright svg:hover,
.footer-copyright svg:focus {
  color: #81b3d2;
}

.footer-copyright svg:active {
  color: #bdbbbc;
}
